@import './_partyal/componet.css';

/* 
*******
COLOR
********

*/
:root {
  --bg-Primary: #2c3e50;
  --bg-blue: #0e38b5;
  --bg-secondary: #1abc9c;
  --text-secondary: #333333;
}

.ad-text-primary {
  color: var(--bg-Primary);
}
/* 
*******
HEADER
********
*/

header,
footer {
  background-color: var(--bg-Primary);
}

/* 
*******
MAIN
********
*/

main section:nth-child(odd) {
  background-color: var(--bg-secondary);
}

#portfolio h2,
#contact h2 {
  color: var(--text-secondary);
}

#jumbo .ad-content-img img {
  width: 250px;
}
#jumbo p,
#about p {
  font-size: 20px;
}

#about .fa-download {
  margin-right: 5px;
}

#contact form .ad-text-primary {
  font-size: 20px;
}

/* 
*******
FOOTER
********
*/

footer .row .col-lg-12 .footer-box {
  /* debug */
  height: 150px;
  background-color: var(--bg-secondary);
}
