@import './_partyal/componet.css';

/* 
*******
COLOR
********

*/
:root {
  --bg-head-foot: #2c3e50;
  --bg-blue: #0e38b5;
  --bg-azzurro: #1c83c1;
  --bg-bage: #ccb2a3;
}

/* 
*******
HEADER
********
*/

header,
footer {
  background-color: var(--bg-head-foot);
}

/* 
*******
MAIN
********
*/

main section:nth-child(odd) {
  background-color: #1abc9c;
}

.col-8 .ad-content-img img {
  width: 250px;
}

/* 
*******
FOOTER
********
*/

footer .row .col-lg-12 .footer-box {
  /* debug */
  height: 150px;
  background-color: #1abc9c;
}
