/* 
*****************
COMPONENTS
*****************
*/

.ad-content-img {
  border-radius: 20px;
  overflow: hidden;
}

.ad-content-img img {
  width: 100%;
  height: auto;
}

.component-star::after,
.component-star::before {
  content: '\2015\2015';
  font-size: 2.5rem;
}

#about .component-star::after,
#about .component-star::before {
  content: '\2015';
  font-size: 2.5rem;
}

.component-star {
  font-size: 25px;
  display: inline;
}
